azul = rgb(135,206,250)
mandarina = #df4801
morado = #8b375d
naranja = #f79f06
verdeC = rgba(74, 203, 172, 0.80)
amarillo =rgba(255, 246, 20, 0.58)
body
  font-size 20px
  margin  0
  padding 0
button
  background naranja
  border-radius .5em
  font-size 1em
  padding 16px
  -vendor-animation-delay 2s
  -webkit-animation-iteration-count infinite
  a
    color morado
    text-decoration none
#cont1
  background black
  margin auto
  height 190px
  width 100%
#contacto
  display inline-block
  width 100%
  a
  	background rgb(135,206,250)
  	border-radius .5em
  	color white
  	padding .4em
  	text-decoration none
  	display inline
#contImg
  background-color verdeC
  color white
  margin  auto
  padding .5em
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  width 90%
#contLargo
  text-align center
  margin auto
  width 100%
#fondo
	background rgba(250 250 210 .5)
	border-radius .5em
	width 100%
#fondo2
  width 100%
#descripcion
  border-right thin solid white
  color rgba(155, 155, 155, 1)
  padding 50px
  display inline-block
  vertical-align top
  width 45%
  h1
    color mandarina
    font-size 2em
  h2
    color naranja
#imgDescrip
  display inline-block
  vertical-align top
  position absolute
  text-align center
  width 45%
  img
    width 50%
#logo
  display inline-block
  vertical-align top
  width 45%
  img
    width 100%
#navP
  ul
    display inline
    li
      display inline-block
      margin 16px
      a
       text-decoration none
       color black
#navegacion
  float right
  display inline-block
  vertical-align top
  width 45%
  position relative
  ul
    display inline
    li
      background-image url(/img/boton.png)
      background-repeat no-repeat
      text-align center
      display inline-block
      height 118px
      padding 47px 0 0 0
      text-decoration none
      width 101px
      :hover
        color mandarina
        display inline-block
        width 101px
        text-shadow 4px 4px 2px rgba(150, 150, 150, 1)
      a
        text-decoration none
        color grey
#pie
  background-image url(/img/mielDesint.jpg)
  background-repeat no-repeat
  font-style oblique
  font-variant normal
  font-weight 700
  font-size 26px
  margin auto
  text-align center
  width 100%
#tratamiento
  width 100%
  h2
    color mandarina
  ul
    text-decoration none
    li
      background-color verdeC
      border-radius .5em
      color white
      padding 0 25px
      display inline-block
      vertical-align top

.abejas1
  background-image url(/img/abejas1.png)
  background-repeat no-repeat
  background-size 90%
  padding 8px 16px
  position absolute
  width 700px
  height 680px
.abejas2
  background-image url(/img/abejas2.png)
  background-repeat no-repeat
  background-size 90%
  padding 8px 16px
  position absolute
  width 700px
  height 680px
.apitox
  background-color black
  color white
.cont2
  border-left thin solid black
  display inline-block
  margin 10em 0 0 0
  padding 1em 1em
  position absolute
  vertical-align top
  width 45%
  h2
    color green
.cont3
  border-left thin solid white
  color white
  display inline-block
  margin 18em 0 0 0
  padding 1em 1em
  position absolute
  vertical-align top
  width 45%
.contFlor
  background-image url(/img/bgFlor.jpg)
  background-repeat no-repeat
  background-size 100%
  width 100%
  padding 45px 0 0 0
  h2
    background verdeC
    border-radius .5em .5em 0 0
    color white
    text-shadow: 4px 4px 2px rgba(148, 150, 150, 1);
    margin auto
    padding 30px 0
    width 30%
.florM
  background-image url(/img/mujer.jpg)
  background-repeat no-repeat
  background-size 90%
  padding 8px 16px
  position absolute
  width 100%
  height 100%
.florB
  background-image url(/img/florD.jpg)
  background-repeat no-repeat
  background-size 90%
  padding 8px 16px
  position absolute
  width 700px
  height 680px
.img1
  background-color black
  width 100%
.img2
  display inline-block
  position relative
  vertical-align top
  width 45%
  height 870px
  img
    width 100%
.img3
  position relative
  width 100%
.info
  background black
  color grey
  margin auto
  width 60%
.miel
  background-image url(/img/miel.png)
  background-repeat no-repeat
  background-size 90%
  padding 8px 16px
  position absolute
  width 100%
  height 100%
.promociones
  color white
.terapia
  background black
  color grey
  width 100%
  img
    padding 0 0 10px 0
    width 100%
  h1
    color naranja
